<div *ngIf="!editMode">

    <strong> {{TheGame.title}}</strong> -- released {{TheGame.year}} 
    <ng-container *ngIf="TheGame.console">
        (console only)
    </ng-container>

    <button (click)="editGame()">Edit</button>
    <button (click)="deleteGame()">Delete</button>

</div>

<ng-container *ngIf="editMode">
    <input type="text" [(ngModel)]="editTitle" />
    <input type="number" [(ngModel)]="editYear" /><br />
    <input type="checkbox" [(ngModel)]="editConsole"/> Console Only
    <button (click)="saveChange()">Save</button>
    <button (click)="cancelChange()">Cancel</button>

</ng-container>
